.container {
    height: 100%;
}

.perfil-content {
        margin-top: 16vh;
        height: 500px;
    }

@media screen and (max-width: 1024px) {
   .perfil-content {
     height: 400px;
    }

    .container {
        height: 100%;
        
    }



}