.perfil-content {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 12vh;
    margin-bottom: 10vh;
    padding: 2rem;
    text-align: center;
}

.perfil-top {
  margin-bottom: 2rem;
}

.perfil-content h2 {
  margin-top: 2rem;
  color: #0b3975;
}

.lista-vagas {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.vaga-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.vaga-card h3 {
    margin-top: 0;
}

.btn-cancelar {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
    background-color: #a71d2a;
}

.status {
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
}

.status.pendente {
    background-color: #ffe58a;
    color: #664d03;
}

.status.aceita {
    background-color: #d4edda;
    color: #155724;
}

.status.rejeitada {
    background-color: #f8d7da;
    color: #721c24;
}

.status.concluida {
    background-color: #89daff;
    color: #1d0475;
}

.pontuacao-box {
  background-color: #f1f8ff;
  border: 1px solid #b6d4fe;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
    .perfil-content {
        padding: 1rem;
    }

    .vaga-card {
        padding: 1rem;
    }

    .btn-cancelar {
        width: 100%;
    }
}