.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.section1 {
    border: solid;
    border-color: black;
    height: 800px;
}

.section2 {
    border: solid;
    border-color: black;
    height: 800px;
}