.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section1 {
    display: flex;
    justify-content: center;
}

.banner-voluntarios {
    width: 70%;
}

.section2 {
    display: flex;
    justify-content: center;
}

.banner-home {
    width:70%;
}

@media screen and (max-width: 1024px) {
    .home-content {
        margin-top: 12vh;
    }

    .container {
        height: 100%;
        
    }

    .banner-voluntarios {
    width: 100%;
}

.banner-home {
    width: 100%;
}
    
}