.admin-vagas-content {
  max-width: 600px;
  margin: 40px auto;
  padding: 2rem;
  background-color: #edf0fc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  width: 80%;
  
}

.admin-vagas-content h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.form-vaga {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-vaga label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  color: #333;
}

.form-vaga input[type="text"],
.form-vaga input[type="date"],
.form-vaga textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 5px;
}

.form-vaga textarea {
  resize: vertical;
  min-height: 80px;
}

.form-vaga button[type="submit"] {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-vaga button[type="submit"]:hover {
  background-color: #0056b3;
}

.mensagem-vaga {
  margin-top: 1rem;
  color: green;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .admin-vagas-content {
    margin-top: 18vh;
    padding: 1.5rem;
  }

  .form-vaga button {
    width: 100%;
  }
}
