.header {
    background: linear-gradient(#010161f3, #0b3975);
    color: white;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-img-header{
    height: 5rem;
    width: 22.875rem;
    margin-left: 10%;
}

.links {
    margin-right: 10%;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.links a {
    display: flex;
    color: white;
    font-size: 23px;
    text-decoration: none;
}