.header {
    background: linear-gradient(#010161f3, #0b3975);
    color: white;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo-img-header {
    height: 4rem;
    width: auto;
}

.nav-menu {
    display: flex;
    gap: 1.4rem;
    list-style: none;
}

.menu-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.menu-list li {
    position: relative;
}

.menu-list a {
    display: block;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu-list a:hover {
    background-color: #0b3975;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0b3975;
    list-style: none;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li a {
    padding: 10px;
    font-weight: normal;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: aliceblue;
}
